* {
   margin: 0;
   padding: 0;
}
body {
   background-color: rgb(172, 168, 168);
}
.box {
   margin: 20px;
   background-color: #1bbc9b;
   height: 180px;
   width: 360px;
   position: relative;
}
.envelope {
   top: 30px;
   left: 40px;
   font-size: 10px;
   color: white;
   position: absolute;
}
.envelope p {
   margin-left: 5px;
}
.envelope span {
   font-weight: bold;
}
.envelope img {
   width: 64px;
   height: 64px;
}
.inputFields {
   display: none;
}
.activeInputFields {
   display: block;
}
.authorizationForms {
   background: no-repeat url("../icons/message.png");
   background-size: 100% 100%;
   position: absolute;
   left: 120px;
   top: 30px;
   width: 200px;
   height: 130px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
}
.form {
   width: 80%;
   margin: 15px 0px -10px 10px;
   position: relative;
}
.icon {
   position: absolute;
   width: 26px;
   height: 26px;
}
.iconUser {
   background: no-repeat center url("../icons/user_gray.svg");
   background-size: 50% 50%;
   top: 0;
   bottom: 0;
   right: -1px;
   margin: auto;
}
.iconPass {
   background: no-repeat center url("../icons/password_gray.svg");
   background-size: 50% 50%;
   top: 0;
   bottom: 0;
   right: -1px;
   margin: auto;
}
.form input {
   box-sizing: border-box;
   width: 100%;
   border: 1px solid #eeeff1;
   background-color: white;
   border-radius: 5px;
   text-align: left;
   color: #636363;
   padding: 3px 7px;
   font-size: 10px;
}
input::-webkit-contacts-auto-fill-button {
   opacity: 0;
}
input::placeholder {
   font-size: 8px;
   color: #a9a9a9;
   text-align: left;
}
input:focus {
   outline: 0;
   border: 1px solid #1bbc9b;
}
input:focus ~ .iconPass {
   background: no-repeat center url("../icons/password_active.svg");
   background-size: 50% 50%;
}
input:focus ~ .iconUser {
   background: no-repeat center url("../icons/user_active.svg");
   background-size: 50% 50%;
}
input::-ms-reveal,
input::-ms-clear {
   display: none;
}
.login {
   box-sizing: border-box;
   margin: 20px 0px 0px 10px;
   padding: 5px 0px;
   border-radius: 5px;
   background-color: #1bbc9b;
   width: 80%;
   font-size: 11px;
   border: none;
   color: white;
}
.lostPass {
   position: absolute;
   bottom: 30px;
   right: 77px;
   box-sizing: border-box;
   margin: 0px 0px 0px 10px;
   padding: 5px 0px;
   width: 30%;
   font-size: 6px;
   border: none;
   color: #a9a9a9;
}
