* {
   margin: 0;
   padding: 0;
}
body {
   background-color: rgb(172, 168, 168);
}
.box {
   background-color: rgb(95, 95, 95);
   border: 1px solid white;
}
.boxContainerParent {
   height: 300px;
   width: 400px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.boxContainerChild {
   height: 250px;
   width: 300px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.label {
   margin: 0px 0px 25px 0px;
   width: 60%;
   padding: 20px 10px;
   font-size: 9px;
   border-radius: 20px;
   background-color: rgb(68, 68, 68);
   color: white;
   text-align: center;
   box-shadow: inset 0px 2px 6px 2px rgb(34, 34, 34);
}
.formsAboutUserColumn {
   width: 60%;
   text-align: center;
}
.form {
   margin: 0px 0px 15px 0px;
   font-size: 9px;
   padding: 9px 0px 9px 35px;
   border: none;
   width: 80%;
   background-color: rgb(68, 68, 68);
   border-radius: 20px;
   box-shadow: inset 1px 1px 6px 2px rgb(34, 34, 34);
}
.icon {
   width: 26px;
   height: 26px;
   border-radius: 50%;
   top: -15px;
   bottom: 0;
   right: 0;
   left: 2px;
   margin: auto 0;
   box-shadow: 0px 0px 3px 1px rgb(34, 34, 34);
}
.formUser {
   position: relative;
}
.iconUser {
   background: no-repeat center url("../icons/user.svg");
   background-size: 50% 50%;
   background-color: #0089c2;
   position: absolute;
}
.formPhone {
   position: relative;
}
.iconPhone {
   background: no-repeat center url("../icons/phone.svg");
   background-size: 50% 50%;
   background-color: #0089c2;
   position: absolute;
}
.callback {
   margin: 5px 0px 0px 0px;
   padding: 10px 20px;
   border-radius: 20px;
   background-color: #0089c2;
   box-shadow: 1px 1px 5px 1px rgb(34, 34, 34);
   width: 100%;
   font-size: 9px;
   border: none;
   color: white;
}
