* {
   margin: 0;
   padding: 0;
}
@font-face {
   font-family: "myriadProReg";
   src: url("../fonts/MyriadProRegular.ttf") format("truetype");
}
@font-face {
   font-family: "myriadProBold";
   src: url("../fonts/MyriadProBold.ttf") format("truetype");
}
body {
   font-size: 14px;
   font-family: Arial, Helvetica, sans-serif;
   height: 2000px;
}
.fontMyriadProReg {
   font-family: "myriadProReg";
   letter-spacing: -1.36px;
}
.fontMyriadProBold {
   font-family: "myriadProBold";
   letter-spacing: -1.36px;
}
/*=================ШАПКА===================================*/
header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background-color: #333;
   height: 133px;
   overflow: auto;
   z-index: 1;
}
a {
   text-decoration: none;
   color: #fff;
}
.headerName {
   font-size: 60px;
   position: absolute;
   left: 71px;
   bottom: 37px;
   color: #fff;
}
.navigationMenuList {
   position: absolute;
   right: 71px;
   bottom: 47px;
   display: flex;
}
.navigationMenuList li {
   font-size: 16px;
   list-style: none;
   transition: all 0.3s ease 0s;
   position: relative;
}
.navigationMenuList li:not(:first-child) {
   margin-left: 33px;
}
.navigationMenuList li:not(:first-child)::before {
   content: "--";
   color: #fff;
   position: absolute;
   left: -22px;
}

@media (min-width: 968px) {
   .navigationMenuList li a:hover {
      color: #00aeef;
   }
}
/*==================КОНЕЦ ШАПКИ===================================*/
.wrapper {
   max-width: 1100px;
   overflow: hidden;
   margin: 200px auto 0px;
}

/*==================НАЧАЛО ТОП КОНТЕНТ===================================*/
.topContentBox {
   margin: 0 70px;
   display: flex;
   flex-direction: column;
}
.title {
   font-size: 60px;
   color: #333;
   padding-bottom: 17px;
   line-height: 42px;
}
.title span {
   color: #00bff3;
}
.subtitle {
   font-size: 50px;
   color: #bbb;
   line-height: 38px;
   padding-bottom: 10px;
}
.topContainer {
   margin: 31px 0px 43px 0px;
   padding: 33px 0px 34px 0px;
   border-top: 5px dotted #ccc;
   border-bottom: 5px dotted #ccc;
   box-sizing: border-box;
}
.topContent {
   font-size: 34px;
   color: #555;
   line-height: 26px;
   padding-bottom: 6px;
}
.topContent:not(:last-child) {
   margin-bottom: 10px;
}
/*==================КОНЕЦ ТОП КОНТЕНТ===================================*/

/*==================НАЧАЛО СРЕДНИЙ КОНТЕНТ===================================*/
.middleContentBox {
   margin: 0 70px 48px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.service {
   width: 283px;
   height: 351px;
   background-color: #00aeef;
   box-shadow: 4px 4px 4px #c7c7c7;
   color: #fff;
   text-align: center;
   padding: 25px 22px 0px 24px;
   box-sizing: border-box;
   position: relative;
}
.serviceName {
   font-size: 40px;
   line-height: 31px;
   padding-bottom: 24px;
}
.serviceDescription p {
   letter-spacing: 0.2px;
   border-top: 2px dotted #fff;
   padding-top: 23px;
   line-height: 20px;
   font-weight: 200;
   -webkit-hyphens: auto;
   -ms-hyphens: auto;
   hyphens: auto;
}
.learnMore {
   position: absolute;
   box-sizing: border-box;
   box-shadow: inset 0px 0px 5px 2px #195c74;
   bottom: 34px;
   left: 26px;
   width: 232px;
   background: #0076a3;
   font-size: 18px;
   letter-spacing: 0.05px;
   text-align: center;
   padding: 13px 0 14px 0;
}
/*==================КОНЕЦ СРЕДНИЙ КОНТЕНТ===================================*/

/*==================НАЧАЛО НИЖНИЙ КОНТЕНТ===================================*/
.lowerContentBox {
   margin: 0 70px;
   display: flex;
   flex-direction: row;
   border-top: 5px dotted #ccc;
   border-bottom: 5px dotted #ccc;
   padding: 31px 0px;
}
.lowerLeftContentBox,
.lowerRightContentBox {
   width: 50%;
}
.lowerLeftContentBox {
   border-right: 5px dotted #ccc;
}
.clientTestimontials,
.articleTitle {
   color: #555;
   font-size: 24px;
}
.clientReview {
   display: flex;
   flex-direction: row;
   margin: 29px 40px 0px 0px;
}
.clientReview:not(:last-child) {
   margin-bottom: 38px;
}
.reviewContent {
   letter-spacing: 0.01em;
   padding-left: 27px;
   word-spacing: -0.14em;
   color: #555;
}
.reviewExerpt {
   padding-bottom: 14px;
}
.reviewerName {
   font-weight: bold;
   padding-bottom: 2px;
}
.companyOfReviewer {
   color: #00aeef;
}
.article {
   padding-left: 46px;
}
.articleSubtitle {
   color: #888;

   font-size: 20px;
   padding: 19px 0px 8px 0px;
}
.articleText {
   padding: 14px 0px 12px;
   color: #555;
   letter-spacing: 0.01em;
   word-spacing: -0.05em;
}
.clickHere {
   color: #00aeef;
}
/*==================КОНЕЦ НИЖНИЙ КОНТЕНТ===================================*/

footer {
   font-size: 16px;
   margin: 18px 70px 0px;
   color: #888;
}
