* {
   margin: 0;
   padding: 0;
}
body {
   background-color: rgb(172, 168, 168);
}
.box {
   margin: 20px;
   background-color: rgb(95, 95, 95);
   height: 280px;
   width: 320px;
   display: flex;
   align-items: center;
   flex-direction: column;
}
.label h2 {
   font-size: 26px;
   font-weight: 500;
}
.label {
   width: 80%;
   margin: 15px 0px 5px;
   padding: 5px 5px;
   font-size: 9px;
   color: white;
   text-align: center;
}

.formsAboutUserColumn {
   width: 60%;
}
.form {
   color: white;
   margin: 0px 0px 15px 0px;
   font-size: 9px;
   padding: 9px 0px;
   border: 1px solid white;
   width: 100%;
   background-color: rgb(95, 95, 95);
   border-radius: 20px;
   text-align: center;
}
input::placeholder {
   color: white;
   text-align: center;
}
input:focus {
   outline: 0;
   border-color: #2caf64;
}
.callback {
   padding: 10px 0px;
   border-radius: 20px;
   background-color: #2caf64;
   width: 100%;
   font-size: 11px;
   border: none;
   color: white;
}
